body {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 170px;
    color: white;
    text-align: center;
}

.meme {
    width: 60%;
    border: 5px solid white;
}