

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
.card {
    flex: 1;
    background-color: bisque;
    margin: 10px;
    border: solid black;
    padding: 5px;
    align-self: normal;
}
  